
<div class="page">

    <h2>another day</h2>


    <div class="anotherday">
    
    <div  class="topimgs">  
    <img  src="assets/portfolio/office.PNG" alt="Another Day Office"  onclick="this.requestFullscreen()">
    <img src="assets/portfolio/dream.PNG" alt="Another Day Dream"  onclick="this.requestFullscreen()">
    
    <div class="textbox">
  
        <p><i>Today is another day - but it doesn't have to be. It's important to make time for ourselves sometimes. </i>
       </p>
        <a href="https://monnettie.itch.io/another-day" target="_blank"><button class="button">PLAY IT HERE!</button></a>  
        </div>
         
   </div>     

 

    <h3>Development Process</h3>
    <div class="section">


    <div  class="textbox">

    
        <p> In fall 2024, I and my friend <a href="https://puffles.itch.io/" target="_blank">Puffles</a> entered the 56th Ludum Dare game jam. With only two days to work with, we managed to get 10th place in the Mood category out of more than 1000 entries! <br>
            <a href="https://ldjam.com/events/ludum-dare/56/$403837" target="_blank">Check it out! ></a> <br>
        <br>This jam’s prompt was tiny creatures, so we thought the in-the-browser engine BitsyHD would be the perfect tool to create our game with. The engine only supports 16x16 sprites and a limited 4 color-palette. Keeping these limitations in mind, we decided an atmospheric game would be best, and landed on the idea of a business cat who spends more time focusing on his work than on himself. 

             
       </p>

       
    </div>
    <img  style="flex: 0 0 50%;
    margin-right: 20px;" src="assets/portfolio/bitsy.png" alt="BitsyHD"  onclick="this.requestFullscreen()">

    </div>


    <h3>Design Goals</h3>
    <div style="align-items: center;" class="section">
    <div class="imgcontainer">  
        <img style="width: 90%;"  src="assets/portfolio/sprites.png" alt="Sprite Work"  onclick="this.requestFullscreen()">
    </div>  
    <div style="margin-bottom: 3em;" class="textbox">

    
        <p >I handled the story as well as most of the art and animations. When working with sprites this small and with a limited color palette, it’s important to prioritize silhouette since even 1 pixel can change the look of the character. I looked at several animals and broke them down into their most basic shapes, then experimented with what features I could add while still keeping the readability.
            <br>

        <br>As for the story, we thought putting a bunch of happy animals in a village would be too generic of a premise. I suggested we go for a depressing city setting instead, not just for comedic effect but also to convey a feeling of isolation and unease. I’ve always been a fan of simple messages; advice that people can apply to their everyday lives. In today’s age, we prioritize efficiency and work ethic more than anything, even our bodies. We forget to eat, sleep, go for a walk, and pay attention to the things we love. We may never be able to go back to a carefree life, but we can at least do something that makes us smile once in a while.
        <br>
             
       </p>

       
    </div>


    </div>

    
    </div>