
<div class="page">

<h2>about</h2>

<div class="about">

<img src="assets/images/face.jpg" alt="An angel">

<div class="textbox">
<h3>(ﾉ・ω・)ﾉ :｡･:*:･ﾟ’★,｡･:*:･ﾟ’☆</h3>
<p>Sofia Orlando is a current New Media Design student at Rochester Institute of Technology.<br><br>
   She's a creative soul who's worked with photoshop, illustrator, premiere pro, maya, and various other art programs for the past 9 years and plans to learn even more.<br><br>
   After graduation she intends to work in marketing and put her own cute unique spin on her work.<br><br>
   Please give her your love and support! </p>
<p>Contact at: sofia.orlando30@gmai.com</p>   
</div>

</div>

</div>