
<div class="page">
<div class="portfolio">

<div class="top">
<h2>portfolio</h2>
    <p style="text-align: center; margin-right: 2.5em; color: #FF74B1;">click images for full view/link</p>
</div>    

<div id="featured">
    <h3>featured work</h3>
    <a href="https://monnettie.itch.io/hellhoundheresy" target="_blank"><img src="assets/portfolio/hell.png" alt="Hellhound Heresy"></a>
    <a href="https://youtu.be/aBx9Bt96tq8" target="_blank"><img src="assets/portfolio/yt.jpg" alt="Kite and Biscuit"></a>
    <a href="https://monnettie.neocities.org/" target="_blank"><img src="assets/portfolio/computer.png" alt="Pink Computer"></a>  
    <img src="assets/portfolio/clip.png" alt="Music Hairclip" onclick="this.requestFullscreen()">
    <a href="https://mods.one/mod/girlmori" target="_blank"><img src="assets/portfolio/girlmori.png" alt="GIRLMORI" ></a>  
</div>

<div id="model">
    <h3>3d modeling</h3>
    <img src="assets/portfolio/kite_3d.gif" alt="Kite Turntable" onclick="this.requestFullscreen()"> 
    <img src="assets/portfolio/frog_3d.gif" alt="Frog Turntable" onclick="this.requestFullscreen()"> 
    <img src="assets/portfolio/" alt="" onclick="this.requestFullscreen()"> 
</div>

<div id="ill">
<h3>illustration</h3>

    <img src="assets/portfolio/ness.png" alt="My original character Ness" onclick="this.requestFullscreen()">
    <img src="assets/portfolio/pixel_albert.gif" alt="Purple Pixel Penguin" onclick="this.requestFullscreen()"> 
</div>

<div id="adobe">
    <h3>adobe photoshop, illustrator, etc</h3>
        <img src="assets/portfolio/psycho.gif" alt="Psycho Hottie" onclick="this.requestFullscreen()">
        <img src="assets/portfolio/Bliss_Card_Claudia.png" alt="Blissful Road Business Card" onclick="this.requestFullscreen()">
        <img src="assets/portfolio/Hardcover Book MockUp_.png" alt="Hardcover Book Mockup" onclick="this.requestFullscreen()">
        <img src="assets/portfolio/aqua.gif" alt="Aqua Wednesday" onclick="this.requestFullscreen()">
        <img src="assets/portfolio/twitch.gif" alt="Twitch Tumbnail" onclick="this.requestFullscreen()">
        <img src="assets/portfolio/Cinemagraph.gif" alt="Teapot Cinemagraph" onclick="this.requestFullscreen()">
    </div>

</div>
</div>