
<div class="portfolio">

<h2>portfolio</h2>

<div id="featured">
    <h3>featured work</h3>
    <iframe frameborder="0" src="https://itch.io/embed/854070" width="200" height="167"><a href="https://monnettie.itch.io/hellhoundheresy">
    Hellhound Heresy by Monnettie, Puffles, MD Wade</a></iframe>
    <a href="https://mods.one/mod/girlmori" title="GIRLMORI"><img src="https://mods.one/assets/2c731/b477/2c731e28-b477-4bd5-86a1-da0e7d2332e1.webp" width="" alt="GIRLMORI"></a>
    <iframe width="100%" src="https://www.youtube.com/embed/aBx9Bt96tq8?si=J7gDOtdMaivJPo2D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <a href="https://monnettie.neocities.org/"><img src="assets/computer.png" alt="Pink Computer"></a>  
    <img src="assets/clip1.jpg" alt="music note hairclip">
    <img src="assets/clip2.jpg"  alt="music note hairclip">
       
</div>

<div id="model">
    <h3>3d modeling</h3>

</div>

<div id="ill">
<h3>illustration</h3>
    <img src="assets/annette.PNG" alt="My original character Annette">
    <img src="assets/hanako.PNG" alt="Hanako-kun headshot">
    <img src="assets/angel.PNG" alt="Bad boy angel">
    <img src="assets/ness.png" alt="My original character Ness">
</div>

<div id="adobe">
    <h3>adobe photoshop, illustrator, etc</h3>
        <img src="assets/psycho.gif" alt="Psycho Hottie">
        <img src="assets/Bliss_Card_Claudia.png" alt="Blissful Road Business Card">
        <img src="assets/Hardcover Book MockUp_.png" alt="Hardcover Book Mockup">
        <img src="assets/aqua.gif" alt="Aqua Wednesday">
        <img src="assets/twitch.gif" alt="Twitch Tumbnail">
        <img src="assets/Cinemagraph.gif" alt="Teapot Cinemagraph">
    </div>

</div>