
<div class="page">
<div class="portfolio">

<div class="top">
<h2>portfolio</h2>
    <p style="text-align: center; margin-right: 2.5em; color: #FF74B1;">click images for full view/link</p>
</div>    

<div id="featured">
    <h3>featured work</h3>
    <a routerLink = "/dokoneko"><img src="assets/portfolio/dokoneko.png" alt="Doko Neko Hakai"></a>
    <a routerLink = "/anotherday"><img src="assets/portfolio/day.png" alt="Another Day"></a>
    <a routerLink="/girlmori"><img src="assets/portfolio/girlmori.png" alt="GIRLMORI" ></a>  
</div>

<div id="adobe">
    <h3>adobe photoshop, illustrator, etc</h3>
        <img src="assets/portfolio/dangerous.jpg" alt="Cig Ad" onclick="this.requestFullscreen()">
        <img src="assets/portfolio/dokudoku.gif" alt="Mock Shojo Manga Cover" onclick="this.requestFullscreen()">
        <img src="assets/portfolio/sue.png" alt="Mock Comic Cover" onclick="this.requestFullscreen()">
        <img src="assets/portfolio/lovestruck.jpg" alt="Disco Poster" onclick="this.requestFullscreen()">
        <img src="assets/portfolio/twitch.gif" alt="Twitch Tumbnail" onclick="this.requestFullscreen()">
        <a href="https://www.youtube.com/watch?v=GN-Doef5Znc" target="_blank"><img src="assets/portfolio/lovebullet.png" alt="Lovebullet Tumbnail"></a>
    </div>

<div id="ill">
<h3>illustration</h3>
    <img src="assets/portfolio/acdc.png" alt="My entry for the ACDC Rag shirt design contest" onclick="this.requestFullscreen()">
    <img src="assets/portfolio/var.png" alt="My friend's character Var" onclick="this.requestFullscreen()">
    <img src="assets/portfolio/nanuq.jpg" alt="My original character Nanuq" onclick="this.requestFullscreen()"> 
    <img src="assets/portfolio/annette.jpg" alt="My original character Annette" onclick="this.requestFullscreen()">
    <img src="assets/portfolio/ness.png" alt="My original character Ness" onclick="this.requestFullscreen()">
    <img src="assets/portfolio/quitish.png" alt="My original character Quitish" onclick="this.requestFullscreen()"> 
    <img src="assets/portfolio/pixel_albert.gif" alt="My original (?) character Sailor Abert" onclick="this.requestFullscreen()"> 
</div>

    <div id="model">
        <h3>3d modeling</h3>
        <img src="assets/portfolio/groovy.png" alt="Groovy Radio AD" onclick="this.requestFullscreen()"> 
        <img src="assets/portfolio/kite_3d.gif" alt="Kite Turntable" onclick="this.requestFullscreen()"> 
        <img src="assets/portfolio/frog_3d.gif" alt="Frog Turntable" onclick="this.requestFullscreen()">
        <a href="https://youtu.be/aBx9Bt96tq8" target="_blank"><img src="assets/portfolio/yt.jpg" alt="Kite and Biscuit"></a>  
    </div>

 <div id="web">
    <h3>web design</h3>
        <a href="https://monnettie.github.io/" target="_blank"><img src="assets/portfolio/buddha.png" alt="buddha symbol"></a>
        <a href="https://sco5782.github.io/" target="_blank"><img src="assets/portfolio/kitty.png" alt="Hello Kitty"></a>
        <a href="https://monnettie.neocities.org/" target="_blank"><img src="assets/portfolio/computer.png" alt="Pink Computer"></a> 
    </div>
        

</div>
</div>