<div class = "sidebar">
    <header>
        <h1>Sofia Carmela Orlando</h1>
    </header>


    <nav>
            <button routerLink = "main" (click)="notPortfolioOnClick()">home</button> <br>
            <button routerLink = "portfolio" (click)="toggleDivVisibilityOnClick()">portfolio</button> <br>
            <div class="hehe" [style.display]="divVisible ? 'block' : 'none'">
                <button routerLink = "portfolio" class="sub">featured</button> <br>
                <button routerLink = "portfolio" class="sub" >3d</button> <br>
                <button routerLink = "portfolio" class="sub">illustration</button> <br>
                <button routerLink = "portfolio" class="sub">adobe</button> <br>
            </div>
            <button routerLink = "about" (click)="notPortfolioOnClick()">about</button> <br>
            <button routerLink = "contact" (click)="notPortfolioOnClick()">contact</button>
    </nav>

    
    <footer>Copyright &copy; 2023</footer>

</div>