.sidebar{
 height: 100%;
 width: 20%;
 margin:0px;
 font-size: 1.5em;
 border-right: .2em solid #FF74B1;
 border-radius:2%;
 text-align: center;
 position: fixed;
 background-color: #FFA1CF;
}

button{
 color: #FDEFF4;
 background-color: #FFA1CF;
 border-top: 0;
 border-right: 0;
 border-radius: 20px;
 font-size:1em;
 margin: 9%;
 padding-left: 15%;
 padding-right: 15%;
 text-align: center;
 padding-bottom: 1.5%;
 width: 70%;
 border-color: #FF74B1;
}

h1{
    padding: 5%;
    text-align:left;
    padding-left: 20%;
    margin-top: 1em;
    margin-bottom: 20%;
    line-height: 1.2;
    font-size: 90%;

    color: FDEFF4;
}

nav{
    padding-bottom:30%;
}

footer{
    margin-top: .5em;
    text-align: center;
    font-size: 60%;
    padding-bottom: .3em;
}

.hehe{
    margin-left: 40%;
    border: solid;
    border-right: 0;
    border-top: 0;
    width: 40%;
    padding-left: 0%;
    display: none
}
.sub{
    border: none;
    padding-left: 0%;
}
button:hover{
    font-weight: bold;
    cursor: pointer;
    background-color: #FF74B1;
    border-color: #A7FFE4; 
}