
<div class="page">

    <h2>doko neko hakai</h2>


    <div class="doko neko hakai">
    
  
    <img  src="assets/portfolio/title.png" alt="Doko Neko Hakai Titlescreen"  onclick="this.requestFullscreen()">
    <img src="assets/portfolio/game.png" alt="Gameplay"  onclick="this.requestFullscreen()">

    <div class="textbox">
  
    <p> <i><strong>Destory your house to pet your cat!</strong> <br><br> It's been a long day and you want nothing more than to pet your loving cat...Time to destroy the house to find her! Play a cute game of hide and seek with your best friend and maybe get an insurance payout along the way.</i>
   </p>
    <a href="https://monnettie.itch.io/doko-neko-hakai" target="_blank"><button class="button">PLAY IT HERE!</button></a>  
    </div>
     

    <h3>Development Process</h3>
    <div class="section">


    <div  class="textbox">

    
        <p >During summer of 2024, I and 14 other RIT students had the amazing opportunity to fly out to Kyoto and participate in a game jam in collaboration with the Kyoto Computer Gakuin! <br>

        <br>Working with the theme “The simple fun of...”, me and my teammates were able to come together and develop “どこネコ破壊”(Doko Neko Hakai). The game has you destroy your house to find your cat and pet her, be careful not to break too much though!
             
       </p>

       
    </div>
    <img  style="flex: 0 0 40%;
    margin-right: 20px;" src="assets/portfolio/board.jpg" alt="Whiteboard"  onclick="this.requestFullscreen()">

    </div>


    <h3>Design Goals</h3>
    <div style="align-items: flex-start;" class="section">
    <div class="imgcontainer">  
        <img style="width: 90%;"  src="assets/portfolio/titlework.png" alt="Titlescreen Art"  onclick="this.requestFullscreen()">
        <img style="width: 90%;"  src="assets/portfolio/refsheet.png" alt="Refrence Sheet"  onclick="this.requestFullscreen()">
   
    </div>  
    <div  class="textbox">

    
        <p >I was in charge of character designs, animations, and the title screen art. I thought a childish drawing style would best suit the tone of the game, and bring out the cuteness of both the cat and the player character. I worked alongside the KCG artist on my team, Mizuki Harada, to create a simple but playful background that would fit the characters as well.<br>

        <br>Mizuki and I even ended up representing our team in an interview about the experience we had during the game jam, and what we thought of our final product. <br>
        <br> <a href="https://www.instagram.com/p/C8XJl-eyTj5/"  target="_blank">Posted directly on the KCG instagram! > </a>
             
       </p>

       
    </div>


    </div>
    
    <h3 style="margin-bottom: 0px;">The Team!</h3>
    <div style="flex-wrap:wrap; margin-bottom: 3em;" class="section">
    <div  class="textbox">

    
        <p >My team was nothing but kind, patient, and understanding. Though the language barrier did make some aspects a bit of a challenge, we were able to work through them and even laugh about it afterward.  I’ve made some unforgettable friends, and I hope to see them again soon!
       </p>

    </div>
    <img   src="assets/portfolio/friends.jpg" alt="Friends!"  onclick="this.requestFullscreen()">
    <img   src="assets/portfolio/shrine.jpg" alt=" Kiyomizudera Temple "  onclick="this.requestFullscreen()">
    </div>
    
    </div>