
<div class="page">

    <h2>girlmori</h2>


    <div class="girlmori">
    
    <div  class="topimgs"> 
    <img src="assets/portfolio/whitespace.PNG" alt="Whitespace"  onclick="this.requestFullscreen()">
    <img src="assets/portfolio/lightbulb.png" alt="GIRLMORI starting at a lightbulb"  onclick="this.requestFullscreen()">
    </div>    

    <div class="textbox">
  
    <p> <i><strong>Remember what they took from you...</strong> <br><br>A girl version of Omori was planned for the original game but was sadly cut due to time constraints, so I decided to add her back in!

        This mod replaces sprites, cutscenes, dialogue, animation, and more!</i>
   </p>
    <a href="https://mods.one/mod/girlmori" target="_blank"><button class="button">DOWNLOAD IT HERE!</button></a>  
    </div>
     

    <h3>Development Process</h3>
    <div class="section">


    <div  class="textbox">

    
        <p >Back in 2020, the indie game OMORI was released by OMOCAT and took the world by storm. I started this project out of love for the game and its community, and ended up collaborating with over fourteen talented programmers and artists. I managed the mod from start to finish and guided the team on artwork, animations, programming features, and more. I also hand-made a majority of the assets and even learned how to program to go into the code myself and change in-game events and dialogue. I wanted to catch every detail I could and put out the best mod possible.  <br>

        <br>As of 2025, the mod has over 4000 downloads and has been featured in many fan videos and other mods across the world.   

             
       </p>

       
    </div>
    <img  style="flex: 0 0 45%;
    margin-right: 20px;" src="assets/portfolio/rpgmaker.png" alt="RPGMaker MV Editor"  onclick="this.requestFullscreen()">

    </div>


    <h3>Design Goals</h3>
    <div style="align-items: flex-start; margin-bottom: 3em;" class="section">
    <div class="imgcontainer">  
        <img style="width: 90%;"  src="assets/portfolio/girlmoriwakeup.png" alt="Wakeup Sequence"  onclick="this.requestFullscreen()">
        <img style="width: 90%;"  src="assets/portfolio/DW_OMORI.png" alt="OMORI Sprite Sheet"  onclick="this.requestFullscreen()">
   
    </div>  
    <div  class="textbox">

    
        <p >The ultimate goal of the mod was to recreate the game with a girl protagonist as accurately as possible. This meant closely studying the art style of OMORI and hand-drawing/animating many of the assets. Assets that couldn’t be hand-drawn were created via photomanipulation and collage in Photoshop. I taught this method to everyone working on the project to achieve a consistent style that would blend into the base game perfectly.     <br>
            <br> Any asset produced that I felt needed some touchups was either directly edited by me or sent back to the original artist with detailed instructions and examples.   
        
       </p>

       
    </div>


    </div>
    
    </div>