.sidebar{
 height: 100%;
 width: 60%;
 margin:0px;
 font-size: 1.5em;
 border-right: .2em black solid;
 border-radius:2%;
 text-align: center;
}

button{
 background-color: white;
 border-top: 0;
 border-right: 0;
 font-size:1em;
 margin: 7.5%;
 padding-left: 15%;
 padding-right: 15%;
 text-align: center;
 padding-bottom: 1.5%;
 width: 70%;
}

h1{
    padding: 5%;
    text-align:left;
    padding-left: 20%;
    margin-bottom: 25%;
}

nav{
    padding-bottom:40%
}

footer{
    text-align: center;
}